<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
>
    <textsuites>
        <textsuite name="App Tests">
            <directory>test</directory>
        </textsuite>
    </textsuites>   
</phpunit>